/*Body Recommendation*/
.recommendation--small{
   width: 850px;
   margin-top: 70px;
   margin-bottom: 60px;
   margin-left: 30px;
}

.recommendation--lists{
   margin-top: 80px;
}

.recommendation__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: 0 auto;
   width: 100%;
}

.recommendation__list--search__posts{
   display: grid;
   grid-template-columns: repeat(4,1fr);
}

.recommendation__list--search__posts > *{
   margin: 10px auto;
}

.recommendation__list__item {
   background: #fff;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   max-width: 250px;
   transition: all ease-in 0.2s;
}

.recommendation__list__item:hover {
   transform: scale(1.01);
   box-shadow: 0 0 10px 1px #000;
}

.recommendation__list__item_more {
   text-decoration: underline;
   color: var(--blue);
}

.recommendation__list__item_images {
   display: block;
   height: 170px;
   max-width: 100%;
   position: relative;
}

.recommendation__list__item_images_previous,
.recommendation__list__item_images_next {
   border-radius: 50%;
   color: #fff;
   cursor: pointer;
   height: 2rem;
   font-size: 1.8rem;
   font-weight: 700;
   padding: 2px;
   position: absolute;
   top: 50%;
   text-align: center;
   transform: translateY(-50%);
   transition: all ease-in 0.2s;
   width: 2rem;
}

.recommendation__list__item_images_next {
   right: 0;
}

.recommendation__list__item_images_previous:hover,
.recommendation__list__item_images_next:hover {
   color: #000;
   font-weight: 900;
}

.recommendation__list__item_images img {
   display: block;
   height: 100%;
   width: 100%;
}

.recommendation__list__item_info {
   padding: 16px 20px 20px 16px;
}

.recommendation__list__item_info h4 {
   margin-top: 5px;
   font-size: 1.5rem;
}

.recommendation__list__item_info p {
   margin-top: 5px;
   font-size: 1rem;
   line-height: 1.4;
   text-align: left;
}

@media only screen and (min-width: 1500px) {
   .recommendation__list--search__posts{
   grid-template-columns: repeat(5,1fr);
}
}